body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 35%;
  padding-right: 35%;
  background-color: #b5838d;
  border: 0.67em solid #b5838d;
  color: white;
}

#minha_foto {
  width: 200px;
  margin-top: 110px;
  padding-left: 42%;
}

h2 {
  text-align: center;
  padding: 10px;
  background-color: #b5838d;
  color: white;
}

#licoes_aprendidas {
  display: inline-block;
  padding-right: 430px;
  background-color: #ffb4a2;
  border: solid #ffb4a2;
  line-height: 25px;
}

#licoes_a_aprender {
  display: inline-block;
  padding-right: 430px;
  background-color: #e5989b;
  border: solid #e5989b;
  line-height: 25px;
}

h3 {
  font-size: 20px;
  padding: 10px;
  background-color: #b5838d;
  color: white;
}

p {
  color: #6d6875;
  line-height: 20px;
}

#table {
  margin-top: 10px;
  margin-left: 35%;
  border: 2px solid #6d6875
}

th, td {
  padding: 5px;
  border: 2px solid #6d6875
}

th:nth-child( 1 ) {
  background-color: #ffb4a2;
}

th:nth-child( 2 ) {
  background-color: #e5989b;
}

th:nth-child( 3 ) {
  background-color: #ffb4a2;
}

#rodape {
  margin-top: 20px;
  padding: 5px;
  background-color: #ffcdb2;
  text-align: center;
}

a {
  text-decoration-line: none;
  color: #6d6875;
  font-weight: bold
}

