body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 35%;
  padding-right: 35%;
  background-color: rgb(181, 131, 141);
  border: 0.67em solid rgb(181, 131, 141);
  color: white;
}

#minha_foto {
  width: 200px;
  margin-top: 110px;
  padding-left: 42%;
}

h2 {
  text-align: center;
  padding: 10px;
  background-color: rgb(181, 131, 141);
  color: white;
}

#licoes_aprendidas {
  display: inline-block;
  padding-right: 430px;
  background-color: rgb(255, 180, 162);
  border: solid rgb(255, 180, 162);
  line-height: 25px;
}

#licoes_a_aprender {
  display: inline-block;
  padding-right: 430px;
  background-color: rgb(229, 152, 155);
  border: solid rgb(229, 152, 155);
  line-height: 25px;
}

table {
  margin-top: 10px;
  margin-left: 33%;
  border: 2px solid rgb(109, 104, 117);
}

th , td {
  padding: 5px;
  border: 2px solid rgb(109, 104, 117);
}

th:nth-child( 1 ) {
  background-color: rgb(255, 180, 162);
}

th:nth-child( 2 ) {
  background-color: rgb(229, 152, 155);
}

th:nth-child( 3 ) {
  background-color: rgb(255, 180, 162);
}

.lado-esquerdo {
  float: left;
  width: 49%;
  text-align: justify;
}

.lado-direito {
  float: right;
  width: 49%;
}

h3 {
  text-align: left;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(181, 131, 141);
  color: white;
}

p {
  color: rgb(109, 104, 117);
  line-height: 20px;
}

#rodape {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(255, 205, 178);
  text-align: center;
  clear: both;
}

a {
  text-decoration-line: none;
  color: rgb(109, 104, 117);
  font-weight: bolder;
}

